

form {
        text-align: right;
        width: 1000px;
        border: 2px solid rgb(12, 12, 12);
        padding: 0;
        margin: 1000px;

    width: 1000px;
    vertical-align: top;
    display: inline-block;
    margin: 50px;
    padding: 100px;
    margin-right: 2000px;
    margin-left: 200px;
      }

form {margin-right: 100px;}

h1 {text-align: center;}
    
.radio input {vertical-align: top;
    display: inline-block;}

h2 {text-align: center;}